#back{
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../assets/back.png");
    background-repeat: no-repeat;
    background-size:30px 30px;
    color: rgba(255, 255, 255, 0);
    width:32px;
    height:32px;
    border:solid rgba(255, 255, 255, 0);
    border-radius: 16px;
    outline: none;
    cursor: pointer;
}

#back:hover{
    background-color: rgba(255, 255, 255, 0.21);
    background-image: url("../assets/backhover.png");
    box-shadow:3px 0px 2px #7e7e7e;
}